<div class = "container">
  <%= render 'layouts/errors', :object => @bear %>

  <%= form_for @bear do |f| %>
    <h5>Name:</h5>
    <%= f.text_field :name %>
    <h5>Average Number of Burritos Eaten Per Week:</h5>
    <%= f.text_field :cost %>
    <h5>Country of Origin</h5>
    <%= f.text_field :country %>
    <h5>Color: </h5>
    <%= f.text_field :color %>
    <h5>Favorite Hobbies</h5>
    <%= f.text_field :hobby %>
    <button class="waves-effect waves-light btn"><%= f.submit  %></button>
    <br>
    <br>
  <% end %>
</div>
