<h1>New Bear</h1>

<% if @bear.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @bear.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @bear do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :cost %>
  <%= f.text_field :cost %>
  <%= f.label :country %>
  <%= f.text_field :country %>
  <%= f.label :color %>
  <%= f.text_field :color %>
  <%= f.submit  %>
<% end %>
