<h1><%= @bear.name %></h1>
<h4><%= @bear.cost %></h4>
<h4><%= @bear.country %></h4>
<h4><%= @bear.color %></h4>

<p><%= link_to "Return to bears", bears_path %></p>
<p><%= link_to "Edit", edit_bear_path %></p>
<p><%= link_to "Delete", bear_path(@bear), :data => {:confirm => "You sure?", :method => 'delete'} %></p>
