<div class="container">
  <h1>Name: <%= @bear.name %></h1>
  <h4>Average number of Burritos eaten per week: <%= @bear.cost %></h4>
  <h4>Home Country: <%= @bear.country %></h4>
  <h4>Color: <%= @bear.color %></h4>
  <h4>Hobbies: <%= @bear.hobby %></h4>

  <button class="waves-effect waves-light btn"><%= link_to "Return to bears", bears_path %></button>
  <button class="waves-effect waves-light btn"><%= link_to "Edit", edit_bear_path %></button>
  <button class="waves-effect waves-light btn"><%= link_to "Delete", bear_path(@bear), :data => {:confirm => "You sure?", :method => 'delete'} %></button>
</div>
